@{
    ViewData["Title"] = "Главная страница";
}

<h2>Добро пожаловать в систему выдачи кредитов!</h2>
<p>
    Используйте меню для навигации по разделам:
    <a href="@Url.Action("Index", "CreditApplications")">Заявки</a> |
    <a href="@Url.Action("Index", "Clients")">Клиенты</a>
</p>
